.business{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    width: 25rem;
    background-color: rgb(220, 214, 187);
    border-radius: 5%;
    border-style: dashed;
    border: 2px solid black;
  
  }
  
  .business p {
    display: inline-block;
    margin: 0;
  }
  
  .business img {
    margin-top: 0;
    width: 12rem;
    height: 12rem;
    border-radius: 5%;
    border: 1px solid black;
  }
  
  #location {
    margin: 0;
    text-align: left;
  }
  
  #reputation{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0;
    text-align: right;
  
  }